
### Docker ###
docker-compose.override.yml

### Laravel ###
/node_modules/
/public/storage
/storage/*.key
/.env
/.env.*
/.phpunit.result.cache
/storage/framework/cache/
/storage/framework/sessions/
/storage/framework/views/
/bootstrap/cache/
/storage/logs/

### React ###
/node_modules/
/.pnp
.pnp.js
/build/
/dist/
.env
.env.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.eslintcache

### Sistema ###
.DS_Store
Thumbs.db
.idea/
.vscode/
*.log
*.sqlite
*.sql
backup_*.sql